<div>
	<img class="${baseClass}Avatar" src="" data-dojo-attach-point="avatarNode" 
	data-dojo-attach-event="ondijitclick:_onClick"
	>
	<div class="${baseClass}ContentWrap">
		<p class="${baseClass}Name" data-dojo-attach-point="nameNode"><strong>${rname}<strong></p>
		<p class="${baseClass}Money" data-dojo-attach-point="startMoneyNode"><span class="icon-speech-bubble">&nbsp;起点金额：${code5}</p>
		<p class="${baseClass}Style" data-dojo-attach-point="bioNode"><span class="icon-speech-bubble">&nbsp;投资风格：${code7}</p>
		<p class="${baseClass}Incoming" data-dojo-attach-point="inComingNode"><span class="icon-speech-bubble">&nbsp;收益率：${code8}</p>
	<!-- 	<div data-dojo-type="dijit/form/Button"
	        data-dojo-attach-point="buttonWidget">
	        购买
	    </div> -->
    </div>
    <!-- <input class="${baseClass}PM" type="hidden" value=${code3}> -->
	<input class="${baseClass}Rid" type="hidden" value=${rprid}>
</div>