<div>
    <!-- 头部 -->
	<div data-dojo-type="dojox/mobile/Heading" data-dojo-props='label:""' data-app-constraint="top">
	  <span id="sidebar_menu" class="icon-menu"></span>
	</div>
	<!-- 侧边栏 -->
	<!-- <div id="sidebar_wrap">
		<div id="sidebar">
			<ul data-dojo-type="dojox/mobile/RoundRectList"
			data-dojo-props='style:"border:none"'
			>
			  <li data-dojo-type="dojox/mobile/ListItem"
			      data-dojo-props='label:"资管产品",icon:"images/icon.png",style:"border:none",iconPos:"22,18,31,31"'>
			  </li>
			  <li data-dojo-type="dojox/mobile/ListItem"
			      data-dojo-props='label:"基金产品",icon:"images/icon.png",style:"border:none",iconPos:"22,18,31,31"'>
			  </li>
			   <li data-dojo-type="dojox/mobile/ListItem"
			      data-dojo-props='icon:"images/icon.png",style:"border:none",iconPos:"22,18,31,31",
			                       label:"信托产品"'>
			  </li>
			   <li data-dojo-type="dojox/mobile/ListItem"
			      data-dojo-props='icon:"images/icon.png",style:"border:none",iconPos:"22,18,31,31",
			                       label:"银行产品"'>
			  </li>
			   <li data-dojo-type="dojox/mobile/ListItem"
			      data-dojo-props='icon:"images/icon.png",style:"border:none",iconPos:"22,18,31,31",
			                       label:"投顾产品"'>
			  </li>
			  <li data-dojo-type="dojox/mobile/ListItem"
			      data-dojo-props='icon:"images/icon.png",style:"border:none",iconPos:"22,18,31,31",
			                       label:"融资产品"'>
			  </li>
			</ul>
		</div>
	</div> -->
	<!-- 主体 -->
	<!-- 底部导航 -->
	<div data-app-constraint="bottom">
		<ul data-dojo-type="dojox/mobile/TabBar">
		    <li data-dojo-type="dojox/mobile/TabBarButton"
		      data-dojo-props='icon1:"images/icon.png",
		      				   iconPos1:"22,24,31,31",
		                       icon2:"images/icon.png",
		                       iconPos2:"70,119,31,31",
		                       transitionOptions: {target: "index,home", url: "#index,home"},
		                       selected:true'>首页</li>
		    <li data-dojo-type="dojox/mobile/TabBarButton"
		      data-dojo-props='icon1:"images/icon.png",
		      				   iconPos1:"22,24,31,31",
		                       icon2:"images/icon.png",
		                       iconPos2:"70,119,31,31",
		                       transitionOptions: {target: "index,product_center", url: "#index,product_center"}
		                       '>产品中心</li>
			<li data-dojo-type="dojox/mobile/TabBarButton"
		      data-dojo-props='icon1:"images/icon.png",
		      				   iconPos1:"22,24,31,31",
		                       icon2:"images/icon.png",
		                       iconPos2:"70,119,31,31",
		                       transitionOptions: {target: "index,info_center", url: "#index,info_center"}
		                       '>资讯中心</li>	
			<li data-dojo-type="dojox/mobile/TabBarButton"
		      data-dojo-props='icon1:"images/icon.png",
		      				   iconPos1:"22,24,31,31",
		                       icon2:"images/icon.png",
		                       iconPos2:"70,119,31,31"'>快速行情</li>	
			<li data-dojo-type="dojox/mobile/TabBarButton"
		      data-dojo-props='icon1:"images/icon.png",
		      				   iconPos1:"22,24,31,31",
		                       icon2:"images/icon.png",
		                       iconPos2:"70,119,31,31",
		                       '>金玉管家</li>			                       		                       	                       
		</ul>
	</div>
</div>
