<div>
	<div data-dojo-type="dojox/app/widgets/Container" data-app-constraint="center" data-dojo-props="scrollable: true">
		<div class="searchHead">
			<div class="searchWrap">
				<div class="searchFormWrap">
					<form action="">
						<input id="searchInput" class="searchInput" type="" placeholder="搜索产品">	
					</form>
				</div>
				<div class="searchBtnWrap">
					<button id="searchBtn" title="搜索产品" class="searchBtn">
						 <span class="icon-search">搜索</span> 
					</button>
				</div>
			</div>
		</div>
		<h6 class="catalogTitle">产品分类</h6>
		<div id="view1" data-dojo-type="dojox/mobile/View" >
		  <div class="gridWrap" data-dojo-type="dojox/mobile/GridLayout" data-dojo-props='cols:2'>
		    <div class="cellWrap" data-dojo-type="dojox/mobile/Pane">
		    	  <a href="###" id="TGPrd">
			      	<img src="./images/银行产品.jpg" alt="">
			      </a>
			      <p>
			      	<span>投顾产品</span>
			      </p>
		    </div>
		    <div class="cellWrap" data-dojo-type="dojox/mobile/Pane">
		          <a href="">
			      	<img src="./images/银行产品.jpg" alt="">
			      </a>
			      <p>
			      	<span>资管产品</span>
			      </p>
		    </div>
		    <div class="cellWrap" data-dojo-type="dojox/mobile/Pane">
		       <a href="">
			      	<img src="./images/银行产品.jpg" alt="">
			      </a>
		      <p>
		      	<span>基金产品</span>
		      </p>
		    </div>
		    <div class="cellWrap" data-dojo-type="dojox/mobile/Pane">
		       <a href="">
			      	<img src="./images/银行产品.jpg" alt="">
			      </a>
		      <p>
		      	<span>融资产品</span>
		      </p>
		    </div>
		    <div class="cellWrap" data-dojo-type="dojox/mobile/Pane">
		      <a href="">
			      	<img src="./images/银行产品.jpg" alt="">
			      </a>
		      <p>
		      	<span>银行产品</span>
		      </p>
		    </div>
		    <div class="cellWrap" data-dojo-type="dojox/mobile/Pane">
		      <img src="" alt="">
		      <div>
		      	····
		      </div>
		    </div>
		</div>
	</div>
</div>